@* @page *@
@model StudentRegistration.DTOs.CreateStudentRequestModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Register Student";
    var departments = ViewData["Departments"] as SelectList;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    @* <link rel="stylesheet" href="css/student_register_login.css"> *@
    
</head>
<body>
<div class="wrapper rounded bg-white">

    <div class="h3">Student Registration Form</div>
    <form asp-action="AddStudent" asp-controller="Student" method="post">
        <div class="form">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" required placeholder="Enter student's first name" />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" required placeholder="Enter student's last name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="MiddleName">Middle Name</label>
                    <input asp-for="MiddleName" type="text" class="form-control" required placeholder="Enter student's middle name" />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" required placeholder="Enter student's email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" required placeholder="Enter student's phone number" />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" type="text" class="form-control" required placeholder="Enter student's address" />
                </div>
            </div>
            <div class=" my-md-2 my-3">
                <label>Departments</label>
                <select id="departmentId" name="departmentId" required>
                    <option value="" selected hidden>Select Department</option>
                    @if(departments == null || !departments.Any())
                    {
                        <option value="" disabled>No departments available</option>
                    }
                    else
                    {
                        @foreach (var department in departments)
                        {
                            <option value="@department.Value">@department.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> *@
</body>
</html>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

